div#langForm {
    position:absolute;
    top:15px;
    right:15px;
}
div#langForm > select {
    outline: none;
    width:90px;
    height:30px;
    border:1px solid #809080;
    border-radius:7px;
    background-color: #202815;
    font-size: 13px;
    color: #ccc;
}