body {
    position:relative;
    width:auto;
    height:100vh;
    margin:0;
    background:url('/client/img/bg.jpg') no-repeat center;
    background-size:cover;
    
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter:blur(5px);
}
#form {
    position:absolute;
    width:1400px;
    height:850px;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
    border-radius:10px;
    background-color:#303825;
    opacity:0;
    box-shadow:1px 2px 30px -10px black;
    color:white;
}
#header {
    height:60px;
    border-bottom:1px solid #809080;
    line-height:60px;
    padding-left: 30px;
}
#section {
    display:flex;
    width:auto;
    height:790px;
}
/* sec_list */
#sec_list {
    width:350px;
    border-right:1px solid #809080;
}
#sec_list > div#mode {
    display:flex;
    flex-wrap:wrap;
    height:60px;
    border-bottom:1px solid #809080;
}
#mode > button#friends {
    width:175px;
    height:60px;
}
#mode > button#rooms {
    width:175px;
    height:60px;
}
#mode > button {
    border:none;
    background:none;
    color: #bbb;
    font-size:14px;
    cursor:pointer;
    transition: all 0.3s;
}
#mode > button:hover {
    color:white;
}
#mode > div#underline {
    position:absolute;
    top:119px;
    left:32.5px;
    /* left:205px; */
    width:110px;
    height:2px;
    background:white;
}

#sec_list > div#list {
    height:608px;
    border-bottom:1px solid #809080;
    overflow-y:scroll;
    scrollbar-width:thin;
    scrollbar-color:#bbb transparent;
}
#list::-webkit-scrollbar {
    width:5px;
}
#list::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;    
}
div.col {
    position:relative;
    height:60px;
    padding:0 5px;
    margin: 3px 0 3px 5px;
    border-radius:10px;
    cursor:pointer;
    transition: all 0.3s;
}
div.col:hover {
    background-color: rgba(255,255,255,0.1);
}
div.accent {
    background-color: rgba(255,255,255,0.2);
}
div.col > img.profile {
    width:40px;
    height:40px;
    margin:10px;
    background-color:#809080;
    background-size:cover;
    border-radius:50%;
}
div.col > img.flag {
    position:absolute;
    top:11px;
    left:43px;
    width:18px;
    height:12px;
    object-fit:cover;
}
div.col > p {
    float:right;
    width:200px;
    margin-right:50px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    word-break:break-all;
}
div.col > p#roomTitle {
    width:210px;
    font-size:16px;
    margin-top:7px;
}
div.col > span#roomLastChat {
    position:absolute;
    bottom:10px;
    left:75px;
    font-size:13px;
    margin:0;
    width:200px;
    color:#ddd;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    word-break:break-all;
}
div.col > button {
    display:none;
    position:absolute;
    right:15px;
    top:19px;
    width:22px;
    height:22px;
    border:none;
    background:none;
    background-image:url('/client/img/delete.png');
    background-size:cover;
    opacity:0.7;
}
div.col:hover > button {
    display:block;
    cursor:pointer;
    transition: all 0.3s;
}
div.col > button:hover {
    opacity:1;
}
div.col > div#unReadCnt {
    position:absolute;
    top:17px;
    right:14px;
    height:25px;
    min-width:25px;
    border-radius:15px;
    font-size:13px;
    text-align:center;
    line-height:25px;
    background-color:#809080;
    opacity:0.8;
}
div.col > div#unReadCnt:hover {
    opacity:0.1;
}

#sec_list > div#addList {
    position:absolute;
    bottom:160px;
    left:10px;
    width:350px;
    height:40px;
}
#addList > p {
    opacity:0;
    height:20px;
    font-size:13px;
    margin:0 0 7px -20px;
    text-align:center;
    color:red;
}
#addList > input {
    width:0px;
    height:40px;
    opacity:0;
    margin-left:260px;
    padding:0 55px 0 15px;
    background-color: #202815;
    border-radius:10px;
    border:none;
    font-size:15px;
    color:#fff;
}
#addList > button {
    position:absolute;
    bottom:-27px;
    left:290px;
    width:40px;
    height:40px;
    opacity:0.7;
    border:none;
    border-radius:50%;
    background-image: url('/client/img/plus.png');
    background-color: #C0D0C0;
    font-size:26px;
    cursor:pointer;
}

#sec_list > div#myProfile {
    position:relative;
    height:120px;
    padding:0 10px;
    cursor:pointer;
    transition: all 0.2s;
}
#sec_list > div#myProfile:hover {
    background-color: rgba(255,255,255,0.1);
}
div#myProfile > img.profile {
    width:70px;
    height:70px;
    margin:25px 10px;
    background-color:#809080;
    border-radius:50%;
}
div#myProfile > img.flag {
    position:absolute;
    bottom:1px;
    right:-1px;
    width:39px;
    height:26px;
    opacity:0.7;
    object-fit:cover;
}
div#myProfile > p {
    position:absolute;
    top:32px;
    left:103px;
    width:200px;
    font-size:18px;
    margin:0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    word-break:break-all;
}
div#myProfile > p#tag {
    top:60px;
    font-size:16px;
    color:#bbb;
}
/* sec_talk */
#sec_talk {
    width:1049px;
    height:790px;
}
#sec_talk > div#title {
    height:60px;
    border-bottom:1px solid #809080;
    line-height:60px;
    padding: 0 20px 0 60px;
    text-shadow:3px 3px 5px #000;
    background:url('/client/img/@fr.png') no-repeat 15px;
    background-size:35px;
}
div#title > button {
    float:right;
    width:30px;
    height:30px;
    margin:15px 10px;
    border:none;
    cursor:pointer;
    opacity:0.5;
    transition: all 0.2s;
}
div#title > button:hover {
    opacity:1;
}
div#title > button#userList {
    background:url('/client/img/userList.png') no-repeat;
    background-size:cover;
}
div#title > button#invite {
    background:url('/client/img/invite.png') no-repeat;
    background-size:cover;
}
div#title > button#exit {
    background:url('/client/img/exit.png') no-repeat;
    background-size:cover;
}
#sec_talk > div#display {
    height:709px;
    padding:0 20px 20px 20px;
}
div#display > div#messages {
    display:inline-block;
    height:655px;
    width:1009px;
    overflow-y:scroll;
    scrollbar-width:thin;
    scrollbar-color:#bbb transparent;
}
#messages::-webkit-scrollbar {
    width:5px;
}
#messages::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;    
}

div#messages > div#logsNothing {
    margin:300px 0 10px 0;
    text-align:center;
    display:none;
    opacity:0;
}
div#messages > div.lineSpace {
    height:15px;
}
div#messages > div.message {
    position:relative;
    height:auto;
    margin-bottom:15px;
    word-break:break-all;
}
div.message > img.profile {
    float:left;
    width:50px;
    height:50px;
    margin-right:10px;
    background-color:#809080;
    border-radius:50%;
}
div.message > img.flag {
    position:absolute;
    top:2px;
    left:-1px;
    width:21px;
    height:14px;
    object-fit:cover;
}
div.message > div.chat {
    display:inline-block;
    margin:-3px 0 0 5px;
    width:90%;
}
div.chat > span.name {
    font-size:16px;
}
span.name > span.time {
    margin-left:10px;
    font-size:12px;
    color:#bbb;
}
div.chat > p {
    line-height:24px;
    min-height:24px;
    padding:2px 0;
    margin:0;
    border-radius:5px;
    transition: all 0.3s;
}
div.chat > p:hover {
    background-color:rgba(255,255,255,0.1);
}
div#display > input#send {
    width:969px;
    height:52px;
    padding: 0 20px;
    background-color: #202815;
    border-radius:10px;
    border:none;
    font-size:16px;
    color:#fff;
}

div#stranger {
    display:none;
    position:absolute;
    top:122px;
    left:351px;
    width:1049px;
    height:110px;
    background-color:#202815;
    z-index:1;
    opacity:0.7;
    text-align:center;
}
div#stranger > p {
    font-size:17px;
}
div#stranger > button {
    width:90px;
    height:35px;
    border-radius:17px;
    border:none;
    cursor:pointer;
    background-color:#809080;
    color:white;
    font-size:14px;
}

div#chatUsers {
    display:none;
    float:right;
    width:0px;
    height:655px;
}
div#chatUsers > div.col {
    margin:0;
    padding:0;
}
div#chatUsers > div.col > img.flag {
    left:38px;
}
div#chatUsers > div.col > p {
    position:absolute;
    top:0px;
    left:65px;
    width:175px;
    margin:0;
    padding-right:10px;
    line-height:60px;
    font-size:14px;
}