<!DOCTYPE html>
<html>
<head>
  <title>PapagoChat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./css/room-style.css">
</head>
<body>
  <div id="container">
    <h4 class="font-weight-bold">채팅방 목록</h4> 
    {{!-- 방 필터 (언어, 카테고리, 제목), --}}
    <div id="filter">
      <div>
        <span class="desc">사용 중인 언어</span>
        <input type="checkbox" name="filter-language-ko" id="filter-language-ko">
          <label for="filter-language-ko" class="filter-language no-drag">Korean</label>
        <input type="checkbox" name="filter-language-en" id="filter-language-en">
          <label for="filter-language-en" class="filter-language no-drag">English</label>
        <input type="checkbox" name="filter-language-ja" id="filter-language-ja">
          <label for="filter-language-ja" class="filter-language no-drag">Japanese</label>
      </div>
      <div>
        <span class="desc">제목</span>
        <input type="text" name="filter-title" id="filter-title"> {{!-- input width 사이즈 자동 조절해야 함 --}}
      </div>
    </div>

    <div id="room-list" class="p-lg-2">
      <!-- List -->
    </div>
    
    
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./js/room-logs.js"></script>
  <script src="./js/room-socket.js"></script>
</body>
</html>
