/* Font */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+JP&display=swap');
body { font-family: 'Gowun Dodum', 'Noto Sans JP', sans-serif; color: #50505F;}
.bold { font-weight: bold; }

/* container */
body { background-color: #fcfdfc; }
#chat-container {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fcfdfc;
}

/* room-persons */
#room-persons {
    min-height: 100px;
    max-height: 120px;
    overflow-y: auto;
    border-bottom: 4px double #50505F;
    white-space: pre-line;
    line-height:25px;
}
#room-persons::-webkit-scrollbar { width: 4px; }
#room-persons::-webkit-scrollbar-thumb { background: #50505F; border-radius: 15px; }
h6 { margin: 15px 0 0 8px; }
#room-persons > .person {
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}

/* chat-logs */
#chat-logs {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 69px;
}
#chat-logs::-webkit-scrollbar { width: 4px; }
#chat-logs::-webkit-scrollbar-thumb { background: #50505F; border-radius: 15px; }
.log {
    position: relative;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #50505F;
}
.log:nth-child(2n) {
    background-color:#f0f7f0;
}
.log > .name {
    font-size: 14px; font-weight: bold;
    margin: 0 120px 3px 0;
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.log > .name > .ip { font-size: 13px; font-weight: normal; color: #777; margin-left: 5px; }
.log > p { margin-bottom: 0; }
.flag {
    width: 18px; height: 12px; object-fit: cover;
    float: left; margin: 4px 5px 0 0;
}
.log > .send-at { position: absolute; top: 10px; right: 10px; font-size: 14px; }

#selected-language { border: none; border-bottom: 1px solid #50505F; }

/* chat-input */
#chat-input {
    max-width: 950px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid #50505F;
}
#input-text {
    height: auto;
    overflow-y: hidden;
    resize: none;
    background-color: #fcfdfc;
    color: #000;
    border: none;
    font-size:15px;
}
#send-button {
    width: 45px; height: 45px;
    position: absolute; right: 24px; bottom: 23px;
    padding: 6px;
    border: none; border-radius: 5px; outline: none;
    background: none;
    transition: background-color 0.2s;
    line-height:17px;
}
#send-button.active {
    background-color: #1EDA69;
}
#send-button > i {
    font-size:17px;
    color: #50505F;
    transition: color 0.2s;
}
#send-button:enabled > i {
    color: #eee;
}

/* Loading */
.loading {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border: 2px solid #eee;
    border-top-color: #1EDA69;
    border-right-color: #1EDA69;
    border-radius: 100%;
    animation: spin 1400ms infinite linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}